<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
<!--    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">-->
<!--    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">-->
<!--    <link href="../static/signup.css" rel="stylesheet">-->
</head>

<body>
<div>

    <div>
        <nav>
          <ul>
            <li><a href="main">Home</a></li>
            <li><a href="#">Sign In</a></li>
            <li><a href="#">Sign Up</a></li>
          </ul>
        </nav>
        <h3>Python Flask App</h3>
    </div>

    <div>
        <h1>Bucket List App</h1>
        <form>
        Name:    <input type="name" name="inputName" id="inputName" placeholder="Name" required autofocus><br>
        Email:   <input type="email" name="inputEmail" id="inputEmail" placeholder="Email address" required autofocus><br>
        Password:<input type="password" name="inputPassword" id="inputPassword" placeholder="Password" required><br>
        <button id="btnSignUp" type="button">Sign up</button>
        </form>
    </div>
    </div>
</body>
</html>